<mat-card class="app-vis-overlay app-node-details" [class.app-large]="large">
  <mat-card-title>
    <span *ngIf="node">{{ node.name }}</span>
    <div>
      <button type="button" mat-icon-button
              [matTooltip]="large ? 'Less details' : 'More details'"
              (click)="toggleLarge($event)">
        <mat-icon>{{ large ? 'fullscreen_exit' : 'fullscreen' }}</mat-icon>
      </button>
      <button type="button" mat-icon-button
              matTooltip="Close"
              (click)="close($event)">
        <mat-icon>clear</mat-icon>
      </button>
      <app-loading small="true" *ngIf="reloading"></app-loading>
    </div>
  </mat-card-title>
  <mat-card-subtitle
    *ngIf="node && node.competitorToken === currentEgoNode.competitorToken && node.id !== currentEgoNode.id">
    {{ node.country }}, competitor: yes
  </mat-card-subtitle>
  <mat-card-subtitle *ngIf="node && node.id === currentEgoNode.id">
    {{ node.country }}, company of interest
  </mat-card-subtitle>
  <mat-card-subtitle *ngIf="node && node.competitorToken !== currentEgoNode.competitorToken">
    {{ node.country }}, competitor: no
  </mat-card-subtitle>
  <mat-card-content *ngIf="node && node.sector">
    <mat-divider></mat-divider>
    <div class="app-columns">
      <div class="app-column app-column-details">
        <div class="app-value-row">
          <mat-chip-list>
            <mat-chip matTooltip="Sector">{{ node.sector }}</mat-chip>
            <mat-chip matTooltip="Industry Group" *ngIf="node.industryGroup && node.industryGroup !== node.sector">
              {{ node.industryGroup }}
            </mat-chip>
            <mat-chip matTooltip="Industry" *ngIf="node.industry && node.industry !== node.industryGroup">
              {{ node.industry }}
            </mat-chip>
            <mat-chip matTooltip="Sub-Industry" *ngIf="node.subIndustry && node.subIndustry !== node.industry">
              {{ node.subIndustry }}
            </mat-chip>
          </mat-chip-list>
        </div>
        <mat-divider></mat-divider>
        <div class="app-value-row" *ngIf="node.cogs">
          <span>COGS</span>
          <span>{{ node.cogs | customNumber:'1.2-2':'USD' }}</span>
        </div>
        <div class="app-value-row" *ngIf="node.capex">
          <span>CAPEX</span>
          <span>{{ node.capex | customNumber:'1.2-2':'USD' }}</span>
        </div>
        <div class="app-value-row" *ngIf="node.financeIn">
          <span>Finance Income</span>
          <span>{{ node.financeIn | customNumber:'1.2-2':'USD' }}</span>
        </div>
        <div class="app-value-row" *ngIf="node.financeOut">
          <span>Finance Outcome</span>
          <span>{{ node.financeOut | customNumber:'1.2-2':'USD' }}</span>
        </div>
        <div class="app-value-row" *ngIf="node.eigenCentrality">
          <span>Eigenvector Centrality</span>
          <span>{{ node.eigenCentrality | customNumber:'1.2-2' }}</span>
        </div>
        <div class="app-value-row" >
          <span>Betweenness Centrality</span>
          <span>{{ node.betweennessCentrality | customNumber:'1.2-2' }}</span>
        </div>
        <div class="app-value-row">
          <span>Degree</span>
          <span>{{ node.degree }}</span>
        </div>
      </div>
      <div class="app-column app-column-chart" *ngIf="large">
        <app-sankey [egoNode]="node" [sankey]="node.sankey" (nodeClicked)="nodeClicked.emit($event)"></app-sankey>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button (click)="onCollapseClicked($event)" [disabled]="collapseDisabled()">
      <mat-icon>remove</mat-icon>
    </button>
    <button mat-icon-button (click)="onExpandClicked($event)" [disabled]="expandDisabled()">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button (click)="onSetAsEgoNodeClicked($event)" [disabled]="setAsEgoNodeDisabled()">
      <mat-icon>visibility</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
