@import "../../../theme/main";

.app-node-details {
  overflow: hidden;

  .mat-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mat-divider {
    position: relative;
    margin: $gap-normal (-$gap-normal);
    width: 120%;
  }

  &.app-large {
    .app-columns {
      display: flex;

      .app-column-details {
        min-width: 350px;
      }

      .app-column-chart {
        flex: 2;
        margin-left: $gap-normal;
      }
    }
  }

  &:not(.app-large) {
    .app-columns {
      max-width: 350px;
    }
  }

  .app-value-row {
    display: flex;
    justify-content: space-between;
    margin: $gap-small 0;

    > div,
    > span {
      @include app-text-ellipsis();

      &:not(:last-child) {
        margin-right: $gap-small;
      }
    }
  }

}
