.app-sankey-container {
  ::ng-deep {
    svg {
      min-width: 960px;
      min-height: 540px;

      g {
        &.app-links {
          .app-link {
            fill: none;
          }
        }
      }
    }
  }
}
