@import "../../../theme/main";

.app-node-details {
  overflow: hidden;

  .mat-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }



  &.app-large {
    .app-columns {
      display: flex;

      .app-column-details {
        min-width: 350px;
      }

      .app-column-chart {
        flex: 2;
        margin-left: $gap-normal;
      }
    }
  }
  .app-value-row {
    display: flex;
    justify-content: space-between;
    margin: 5px 0 $gap-small;

    > div,
    > span {
      @include app-text-ellipsis();

      &:not(:last-child) {
        margin-right: $gap-small;
      }
    }
  }

}
