<mat-card class="app-node-details app-large">
  <mat-card-title>
    <span *ngIf="node">{{ node.name }}
    </span>
    <div>
      <mat-chip-list>
        <mat-chip matTooltip="Sector">{{ node.sector }}</mat-chip>
        <mat-chip matTooltip="Industry Group" *ngIf="node.industryGroup && node.industryGroup !== node.sector">
          {{ node.industryGroup }}
        </mat-chip>
        <mat-chip matTooltip="Industry" *ngIf="node.industry && node.industry !== node.industryGroup">
          {{ node.industry }}
        </mat-chip>
        <mat-chip matTooltip="Sub-Industry" *ngIf="node.subIndustry && node.subIndustry !== node.industry">
          {{ node.subIndustry }}
        </mat-chip>
        <button type="button" mat-icon-button
                matTooltip="Close"
                (click)="close($event)">
          <mat-icon>clear</mat-icon>
        </button>
        <app-loading small="true" *ngIf="reloading"></app-loading>
      </mat-chip-list>
    </div>
  </mat-card-title>
  <mat-card-subtitle
    *ngIf="node && node.competitorToken === currentEgoNode.competitorToken && node.id !== currentEgoNode.id">
    {{ node.country }}, competitor: yes
  </mat-card-subtitle>
  <mat-card-subtitle *ngIf="node && node.id === currentEgoNode.id">
    {{ node.country }}, company of interest
  </mat-card-subtitle>
  <mat-card-subtitle *ngIf="node && node.competitorToken !== currentEgoNode.competitorToken">
    {{ node.country }}, competitor: no
  </mat-card-subtitle>

  <mat-card-content *ngIf="node && node.sector">
    <mat-divider></mat-divider>
    <!--<div class="app-columns">
      <div class="app-column app-column-details">-->
   <!-- <div class="app-value-row">&nbsp;</div>-->
        <div class="app-value-row"  *ngIf="node.cogs">
          <span>COGS</span>
          <span>{{ node.cogs | customNumber:'1.2-2':'USD' }}</span>
          <span>CAPEX</span>
          <span>{{ node.capex | customNumber:'1.2-2':'USD' }}</span>
          <span>Finance Income</span>
          <span>{{ node.financeIn | customNumber:'1.2-2':'USD' }}</span>
          <span>Finance Outcome</span>
          <span>{{ node.financeOut | customNumber:'1.2-2':'USD' }}</span>
          <!--<span>Eigenvector Centrality</span>
          <span>{{ node.eigenCentrality | customNumber:'1.2-2' }}</span>
          <span>Betweenness Centrality</span>
          <span>{{ node.betweennessCentrality | customNumber:'1.2-2' }}</span>-->
          <span>Degree</span>
          <span>{{ node.degree }}</span>
        </div>

        <mat-divider></mat-divider>
        <app-sankey [egoNode]="node" [sankey]="node.sankey" ></app-sankey>
      <!--</div>
    </div>-->
  </mat-card-content>
</mat-card>
