@import "../../../theme/main";

.app-industry-filter {
  .mat-tree {
    .mat-tree-node {
      position: relative;
      min-height: unset;
      padding: 0 $gap-normal 0 0;
      border-left: 10px solid transparent;

      ::ng-deep {
        .app-node-content {
          margin-left: -40px;
        }

        .mat-checkbox {
          .mat-checkbox-layout {
            margin: 0;
          }

          .mat-checkbox-label {
            max-width: 200px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }

          .mat-ripple-element {
            background: none;
          }
        }
      }

      .app-industry-legend {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.15;
      }

      .app-text-ellipsis {
        @include app-text-ellipsis(150px);
      }
    }
  }
}
