<div class="app-industry-filter">
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding
                   [ngStyle]="{ 'border-color': node.background }">
      <span class="app-industry-legend"
            [ngStyle]="{ 'background-color': node.background, 'margin-left.px': -node.level * 40 }"></span>
      <div class="app-node-content">
        <button mat-icon-button disabled></button>
        <mat-checkbox [checked]="checklistSelection.isSelected(node)"
                      [disableRipple]="true"
                      [matTooltip]="node.item.length > 30 ? node.item : ''"
                      (change)="leafItemSelectionToggle(node)">
          {{ node.item }}
        </mat-checkbox>
      </div>
    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding
                   [ngStyle]="{ 'border-color': node.background }">
      <span class="app-industry-legend"
            [ngStyle]="{ 'background-color': node.background, 'margin-left.px': -node.level * 40 }"></span>
      <div class="app-node-content">
        <button mat-icon-button matTreeNodeToggle [class.app-invisible]="node.level <= 0">
          <mat-icon>{{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}</mat-icon>
        </button>
        <mat-checkbox [checked]="descendantsAllSelected(node)"
                      [disableRipple]="true"
                      [indeterminate]="descendantsPartiallySelected(node)"
                      [matTooltip]="node.item.length > 30 ? node.item : ''"
                      (change)="itemSelectionToggle(node)">
          {{ node.item }}
        </mat-checkbox>
      </div>
    </mat-tree-node>
  </mat-tree>
</div>
