:root {
  --gap-normal: 10px;
  --gap-small: calc(0.5 * var(--gap-normal));
  --gap-large: calc(2 * var(--gap-normal));
}

.navbar {
  margin-bottom: 0;
}

.navbar .container-fluid {
  padding-left: var(--gap-normal);
  padding-right: var(--gap-normal);
}

.navbar-inverse {
  border-radius: 0;
}

.navbar-inverse {
  color: #FFF;
}

.navbar .navbar-form {
  --navbar-form-gap: 5px;
  margin-left: calc(-1 * var(--navbar-form-gap));
}

.navbar .navbar-form .form-group,
.navbar .navbar-form .btn {
  margin-left: var(--navbar-form-gap);
}

html,
body {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

body,
main {
  overflow: hidden;
}

main {
  flex: 1;
  position: relative;
  margin: var(--gap-small);
  border: 1px solid #AAA;
  background-color: #FFF;
  box-sizing: border-box;
}

.list-group {
  position: absolute;
  top: var(--gap-small);
  right: var(--gap-small);
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.85);
}

.list-group-item {
  --list-group-item-font-size: 0.85em;
  font-size: var(--list-group-item-font-size);
  padding: var(--gap-small) var(--gap-normal);
}

.list-group-item.warning {
  color: #EEE;
  background-color: rgba(180, 0, 0, 0.75);
}

.list-group-item .badge {
  margin-left: var(--gap-large);
  font-size: var(--list-group-item-font-size);
  font-weight: normal;
}

svg {
  width: 100%;
  height: 100%;
}

svg rect.content-drag {
  stroke: #333;
  stroke-width: 1px;
  stroke-dasharray: 10px;
  fill: transparent;
  cursor: move;
}

svg g.links line {
  stroke: #999;
  stroke-opacity: 0.15;
}

svg g.nodes circle {
  stroke: #FFF;
  stroke-width: 1px;
}
