.app-header {
  .app-title {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    > *:not(:first-child) {
      margin-top: -4px;
    }
  }
}
.display-option-first {
  margin-right: 20px;
  margin-left: 10px;
}

.display-option {
  margin-right: 20px;
}

.display-options-container {
  alignment: right;
}
