<mat-toolbar class="app-header" color="primary">
  <div class="app-title">
    <span class="app-title-row1">JRC LIVE</span>
    <span class="mat-caption app-title-row2">Graph-Visualization Demo</span>
  </div>
  <div>
    <span class="display-options-container">
      <mat-slide-toggle class="display-option-first"  [checked]="calcMetrics" (toggleChange)="toggleCalcMetrics($event)">Calculate Metrics</mat-slide-toggle>
      <mat-slide-toggle class="display-option" [checked]="showLabels" (toggleChange)="toggleShowLabels($event)">Show Labels</mat-slide-toggle>
      <mat-slide-toggle class="display-option" [checked]="anonymize" (toggleChange)="toggleAnonymize($event)" >Anonymize</mat-slide-toggle>
    </span>
  </div>
</mat-toolbar>
