<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header >
      <mat-panel-title>
        Tracking Configuration
      </mat-panel-title>
      <mat-panel-description>
        Configure VIVE Trackers
      </mat-panel-description>
    </mat-expansion-panel-header>

        <table>
          <tr>
            <td><div align="right">Device Type</div></td>
            <td>
              <mat-radio-group [(ngModel)]="selectedDeviceType" (change)="OnDeviceTypeChanged($event)">
                <mat-radio-button class="example-margin" *ngFor="let deviceType of deviceTypes" [value]="deviceType">
                  {{deviceType}}
                </mat-radio-button>
              </mat-radio-group>
            </td>
          </tr>
          <tr>
            <td><div align="right" [hidden]="selectedDeviceType===deviceTypes[0]">Assigned Tracker</div></td>
            <td>
              <div [hidden]="selectedDeviceType===deviceTypes[0]">
              <mat-form-field class="example-margin">
              <mat-label>Select a tracker</mat-label>
              <mat-select [(ngModel)]="selectedTracker"
                          (selectionChange)="onTrackerSelectionChanged($event)">
                <mat-option>None</mat-option>
                <mat-option value="Tracker1">Tracker 1</mat-option>
                <mat-option value="Tracker2">Tracker 2</mat-option>
              </mat-select>
              </mat-form-field></div>
            </td>
          </tr>
        </table>
  </mat-expansion-panel>
</mat-accordion>




