<div overflow="hidden">
  <div [ngClass]="{'first': filterValue.calculateMetrics, 'firstFull': !filterValue.calculateMetrics}" >
    <mat-expansion-panel [expanded]="false">
      <mat-expansion-panel-header collapsedHeight="10%"  expandedHeight="100%">
        <mat-panel-title>
          Popular Nodes<br /><br />
          {{ top3DegreeArray[0] }} <br />
          {{ top3DegreeArray[1] }} <br />
          {{ top3DegreeArray[2] }} <br />
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div><p style="white-space: pre;">{{ topDegreeString }} </p></div>
    </mat-expansion-panel>
  </div>

  <div class="first"  *ngIf="filterValue.calculateMetrics">
    <mat-expansion-panel [expanded]="false" >
      <mat-expansion-panel-header collapsedHeight="10%"  expandedHeight="100%" >
        <mat-panel-title>
          Gatekeeper Nodes<br /><br />
          {{ top3gateKeeperArray[0] }} <br />
          {{ top3gateKeeperArray[1] }} <br />
          {{ top3gateKeeperArray[2] }} <br />
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p style="white-space: pre;">{{ topGateKeeperString }} </p>
    </mat-expansion-panel>
  </div>

  <div class="first"  *ngIf="filterValue.calculateMetrics">
    <mat-expansion-panel [expanded]="false" >
      <mat-expansion-panel-header collapsedHeight="10%"  expandedHeight="100%" >
        <mat-panel-title>
          Influencer Nodes<br /><br />
          {{ top3influencerArray[0] }} <br />
          {{ top3influencerArray[1] }} <br />
          {{ top3influencerArray[2] }} <br />
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p style="white-space: pre;">{{ topInfluencerString }} </p>
    </mat-expansion-panel>
  </div>

  <div overflow="hidden" *ngIf="filterValue.calculateMetrics">
    <mat-accordion >
    <mat-expansion-panel [expanded]="false" class="lastcard">
      <mat-expansion-panel-header collapsedHeight="10%"  expandedHeight="100%" >
        <mat-panel-title class="container-expansion-panel">
          <div>Bridge Links<br /><br /></div>
          <div class="top3Bridges">
          {{top3bridgesArray[0]}}<br />
          {{top3bridgesArray[1]}}<br />
          {{top3bridgesArray[2]}}
          </div>

        </mat-panel-title>
      </mat-expansion-panel-header>
      <p style="white-space: pre;">{{ topBridgesString }}</p>
    </mat-expansion-panel>
    </mat-accordion>
  </div>

</div>


