.wrapper {
  overflow: hidden;
}
.first {
  float:left;
  width: 25%;
}
.firstFull {
  float:left;
  width: 100%;
}
.second {
  overflow: hidden;
}

.lastcard {
  width: 25%;
}

.container-expansion-panel {
  display: block;
}

.top3Bridges {
  //font-size: 12px;
  white-space: pre;
}
