.app-vis {
  height: 100%;

  ::ng-deep {
    svg {
      g {
        &.app-links {
          line {
            $app-link-color: #3A3C3B;
            stroke: $app-link-color;
            stroke-opacity: 0.6;

            &.app-highlight {
              stroke: darken($app-link-color, 20%);
              stroke-opacity: 0.4;
            }
            &.topBridge {
              $bridge-color: #2FFF00;
              stroke: $bridge-color;
            }
          }
        }

        &.app-nodes {
          .app-node {
            &.app-selected-node,
            &.app-highlight {
              stroke-width: 5px;
            }

            &.app-selected-node {
              stroke: #4a4a4a;
            }

            &.app-highlight {
              stroke: #000;
            }
          }
        }
      }
    }
  }
}
