<header>
  <app-header
    [filterValue]="filterValue"
    (calcMetricsToggleEvent)="calcMetricsToggleEvent($event)"
    (showLabelsToggleEvent)="showLabelsToggleEvent($event)"
    (anonymizeToggleEvent)="anonymizeToggleEvent($event)"
  ></app-header>
</header>
<div class="app-main">
  <div class="app-sidebar" *ngIf="!showingExtendedNodeDetails">
    <div>
      <mat-form-field>
        <mat-placeholder>Company of Interest</mat-placeholder>
        <input type="text" matInput [formControl]="egoFormControl" [matAutocomplete]="autoEgo">
        <button type="button" mat-icon-button matSuffix *ngIf="egoFormControl.value"
                (click)="egoFormControl.setValue('')">
          <mat-icon>close</mat-icon>
        </button>
        <mat-autocomplete #autoEgo="matAutocomplete"
                          [displayWith]="displayNetworkNodeName"
                          (optionSelected)="onEgoOptionSelected($event)">
          <mat-option *ngFor="let option of filteredEgoOptions | async" [value]="option">
            {{ option.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <section>
      <div class="mat-caption app-section-title">Filter</div>
      <mat-accordion multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Node-Degree</mat-panel-title>
            <mat-panel-description>{{ filterValue.nodesThreshold?.format() }}</mat-panel-description>
          </mat-expansion-panel-header>
          <app-threshold-form [range]="availableFilters.nodes"
                              step="1"
                              [threshold]="filterValue.nodesThreshold"
                              (thresholdChange)="onNodesThresholdChanged($event)"></app-threshold-form>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Relative COGS</mat-panel-title>
            <mat-panel-description>{{ filterValue.linksThreshold?.format('%') }}</mat-panel-description>
          </mat-expansion-panel-header>
          <app-threshold-form [range]="availableFilters.links"
                              step="0.1"
                              [threshold]="filterValue.linksThreshold"
                              (thresholdChange)="onLinksThresholdChanged($event)"></app-threshold-form>
        </mat-expansion-panel>
      </mat-accordion>
    </section>
    <section>
      <div class="mat-caption app-section-title">Competitors</div>
      <app-competitor-form
        [filterValue]="filterValue"
        [dropdownList]="competitors"
        [clickedNodes]="clickedNodes"
        (competitorAddedEvent)="competitorAddedEvent($event)"
        (competitorRemovedEvent)="competitorRemovedEvent($event)"
      ></app-competitor-form>
    </section>
    <section>
      <div class="mat-caption app-section-title">Industry</div>
      <mat-card>
        <mat-card-content>
          <ng-container *ngIf="!isLoadingAvailableFilters; else showLoading">
            <app-industry-filter [industries]="availableFilters.industryTree"
                                 [selection]="filterValue.selectedSubIndustries"
                                 (selectionChange)="onIndustrySelectionChanged($event)"></app-industry-filter>
          </ng-container>
        </mat-card-content>
      </mat-card>
    </section>
    <app-tracker-controller  #trackerController (sendTrackingMessageEvent)="OnSendTrackingMessageEvent($event)">
    </app-tracker-controller>
  </div>
  <div id="main-content" #mainContent class="app-main-content">
    <app-graph-metrics *ngIf="!isLoadingNetwork && !showingExtendedNodeDetails" [network]="network" [filterValue]="filterValue"></app-graph-metrics>

      <!--TODO: these properties have in fact to come from the wall sreen filter settings: currentEgoNode -->
      <app-details-on-demand *ngIf="showingExtendedNodeDetails"
        [node]="nodeDetailsOnDemand"
        [currentEgoNode]="egoNode"
        (hideDetailsOnDemand)="hideDetailsOnDemand($event)">
      </app-details-on-demand>

    <app-graph id="graph-container"
               *ngIf="!isLoadingNetwork && !showingExtendedNodeDetails; else  loadingBlock"
               [network]="network"
               [filter]="filterValue"
               (nodeClicked)="onNodeClicked($event)"
               (linkClicked)="onLinkClicked($event)"></app-graph>
    <ng-template #loadingBlock>
      <div *ngIf="!isLoadingNetwork; else showLoading">
      </div>
    </ng-template>
    <div #nodeDetailsContainer class="app-secondary-content" [class.app-large]="isNodeDetailsLarge">
      <ng-container *ngIf="(!isLoadingNetwork && isNodeDetailsActive && (isLoadingNodeDetails || nodeDetails) || showingExtendedNodeDetails)">
        <app-loading *ngIf="isLoadingNodeDetails; else showNodeDetails"></app-loading>
        <ng-template #showNodeDetails >
        <app-node-details *ngIf="!showingExtendedNodeDetails"
                          [node]="nodeDetails"
                          [currentEgoNode]="egoNode"
                          [(large)]="isNodeDetailsLarge"
                          [clickedNodes]="clickedNodes"
                          (hide)="isNodeDetailsActive = false"
                          (expandCollapseEvent)="expandCollapseEvent($event)"
                          (nodeClicked)="onFlowNodeClicked($event)"
                          (changeEgoNode)="changeEgoNode($event)"></app-node-details>
      </ng-template>
      </ng-container>
    </div>
    <div #linkDetailsContainer class="app-secondary-content">
      <ng-container *ngIf="!isLoadingNetwork && (isLoadingLinkDetails || linkDetails)">
        <app-loading *ngIf="isLoadingLinkDetails; else showLinkDetails"></app-loading>
        <ng-template #showLinkDetails>
          <app-link-details [link]="linkDetails" (hide)="linkDetails = undefined"></app-link-details>
        </ng-template>
      </ng-container>
    </div>
    <div id="tabletContents" *ngFor="let content of boundTabletContents">
      <div #tabletContentContainer  class="app-tablet-content">
        <ng-container *ngIf="tabletContents!==undefined">
          <app-loading *ngIf="1==0; else showTabletContent"></app-loading>
          <ng-template #showTabletContent >
            <app-tablet-content  [content]="content"
            (hideTabletContent) = "closeTabletContent($event)"></app-tablet-content>
          </ng-template>
          </ng-container>
      </div>
    </div>
  </div>
</div>
<ng-template #showLoading>
  <app-loading></app-loading>
</ng-template>

