@import "../../../theme/main";

.app-main {
  display: flex;
  height: 100%;

  ::ng-deep {
    .mat-expansion-panel {
      .mat-expansion-panel-header-title {
        flex: 1;
      }

      .mat-expansion-panel-header-description {
        flex: 2;
      }
    }
  }

  .app-sidebar {
    padding: $gap-normal;
    border-right: 1px solid mat-color($voest-primary);
    box-sizing: border-box;
    overflow-x: scroll;
    overflow-y: scroll;


    section {
      margin-bottom: $gap-normal;

      .app-section-title {
        margin-bottom: $gap-small;
      }
    }

    .mat-form-field {
      width: 100%;
    }
  }

  .app-main-content {
    position: relative;
    flex: 1 0 auto;
    overflow: hidden;

    .app-secondary-content {
                position: absolute;

                &:not(.app-large) {
                  max-width: 33%;
                }
              }
    .app-tablet-content {
      position: absolute;

      &:not(.app-large) {
        max-width:  50%;
        max-height: 50%;
      }
    }
  }
}
