<mat-card class="app-vis-overlay app-node-details">
  <mat-card-title style="height: 5px;">
    <!--<span>TODO: Title</span>-->
    <div>
      <button type="button" mat-icon-button
              matTooltip="Close"
              (click)="close($event)">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </mat-card-title>
  <mat-card-content>
    <mat-divider></mat-divider>
        <div><!--style="height: 400px;"-->
          <img src="{{content.showTabletContentAttributes.dataUrl}}" height="100%" width="100%"  />
        </div>
  </mat-card-content>
</mat-card>
