@import "../../../theme/main";

.app-node-details {
  overflow: hidden;

  .mat-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mat-divider {
    position: relative;
    margin: $gap-normal (-$gap-normal);
    width: 120%;
  }

}
