@import '~@angular/material/theming';
@import '../variables';

@include mat-core();

$voest-primary: (
  50: lighten($app-color-voest-blue, 45%),
  100: lighten($app-color-voest-blue, 40%),
  200: lighten($app-color-voest-blue, 30%),
  300:lighten($app-color-voest-blue, 20%),
  400: lighten($app-color-voest-blue, 10%),
  500: $app-color-voest-blue,
  600: darken($app-color-voest-blue, 10%),
  700: darken($app-color-voest-blue, 20%),
  800: darken($app-color-voest-blue, 30%),
  900: darken($app-color-voest-blue, 40%),
  //A100: #8c9eff,
  //A200: #536dfe,
  //A400: #3d5afe,
  //A700: #304ffe,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    //A100: $dark-primary-text,
    //A200: $light-primary-text,
    //A400: $light-primary-text,
    //A700: $light-primary-text,
  )
);

$jrclive-voest-primary: mat-palette($voest-primary);
//$jrclive-voest-primary: mat-palette($mat-indigo);
$jrclive-voest-accent: mat-palette($mat-pink, A200, A100, A400);
$jrclive-voest-warn: mat-palette($mat-red);

$jrclive-voest-theme: mat-light-theme($jrclive-voest-primary, $jrclive-voest-accent, $jrclive-voest-warn);

@include angular-material-theme($jrclive-voest-theme);
