<div class="app-main-page">

  <main>
    <app-loading *ngIf="isLoadingAvailableFilters && isLoadingNetwork; else showMain"></app-loading>
    <ng-template #showMain>
      <app-main *ngIf="filter && availableFilters && network"
                [filter]="filter"
                (filterChange)="onFilterChange($event)"
                [isLoadingAvailableFilters]="isLoadingAvailableFilters"
                [availableFilters]="availableFilters"
                [isLoadingNetwork]="isLoadingNetwork"
                [network]="network"
      ></app-main>
    </ng-template>
  </main>
</div>
