<mat-horizontal-stepper [linear]="isLinear" #stepper (selectionChange)="resetForNextStep()">
  <mat-step [stepControl]="firstFormGroup" >
    <label id="radio-group-label">Please specify which data should be resetted in the database</label>
    <mat-radio-group
      aria-labelledby="radio-group-label"
      class="radio-group"
      [(ngModel)]="resetMode">
      <mat-radio-button class="radio-button" *ngFor="let mode of modes" [value]="mode">
        {{mode}}
      </mat-radio-button>
    </mat-radio-group>
    <button mat-raised-button color="primary" class="button" (click)="onDeleteClicked($event)">Reset</button>
    <div>Result:</div>
    <div [ngClass]="{'result-ok': !errorOcurred && !importing,'result-error': errorOcurred, 'importing': importing}">
      {{resultFromDB}}
    </div>
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Reset database</ng-template>
      <div>
        <button mat-raised-button matStepperNext class="matStepperButton" (click)="resetForNextStep()">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Industries</ng-template>
      <label>If needed - please provide industries CSV file</label>
      <input type="file" name="Upload CSV" id="txtFileUpload" #uploadIndustries (change)="uploadListener(uploadIndustries.files)" accept=".csv" value="process" />
      <button mat-raised-button color="primary" class="button" (click)="importData('Industries')">Import</button>
      <div [ngClass]="{'result-ok': !errorOcurred && !importing,'result-error': errorOcurred, 'importing': importing}">
        {{resultFromDB}}
      </div>
      <div>
        <button mat-raised-button matStepperPrevious  class="matStepperButton" (click)="resetForNextStep()">Back</button>
        <button mat-raised-button matStepperNext class="matStepperButton" (click)="resetForNextStep()" >Next </button>
      </div>

    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup" >
    <ng-template matStepLabel>Nodes</ng-template>
    <label>If needed - please provide nodes CSV file</label>
      <input type="file" name="Upload CSV" #uploadNodes (change)="uploadListener(uploadNodes.files)" accept=".csv" value="process" />
    <button mat-raised-button color="primary" class="button" (click)="importData('Nodes')">Import</button>
      <div [ngClass]="{'result-ok': !errorOcurred && !importing,'result-error': errorOcurred, 'importing': importing}">
        {{resultFromDB}}
      </div>
    <div>
      <button mat-raised-button matStepperPrevious  class="matStepperButton" (click)="resetForNextStep()">Back</button>
      <button mat-raised-button matStepperNext class="matStepperButton" (click)="resetForNextStep()">Next</button>
    </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="fourthFormGroup">
    <form [formGroup]="fourthFormGroup">
      <ng-template matStepLabel>Links</ng-template>
      <label>If needed - please provide links CSV file</label>
      <input type="file" name="Upload CSV" #uploadLinks (change)="uploadListener(uploadLinks.files)" accept=".csv" value="process" />
      <button mat-raised-button color="primary" class="button" (click)="importData('Links')">Import</button>
      <div [ngClass]="{'result-ok': !errorOcurred && !importing,'result-error': errorOcurred, 'importing': importing}">
        {{resultFromDB}}
      </div>
      <div>
        <button mat-raised-button matStepperPrevious  class="matStepperButton" (click)="resetForNextStep()">Back</button>
        <button mat-raised-button matStepperNext class="matStepperButton" (click)="resetForNextStep()">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done. Consider populating path table in database for selected nodes to increase performance</p>
    <div>
      <button mat-raised-button matStepperPrevious class="matStepperButton" (click)="resetForNextStep()">Back</button>
      <button mat-raised-button (click)="stepper.reset()" class="matStepperButton">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
