.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 20px 0;

}

.radio-button {
  margin: 5px;
}

.matStepperButton {
  margin: 75px 0;
}

.button {
  margin: 15px 0;
}

.result-error {
  color: darkred;
}

.result-ok {
  color: darkgreen;
}

.importing {
    animation: blinker 1s linear infinite;
  }

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
