@import "material/theme";

.app-vis-overlay {
  background-color: transparentize(#FFF, 0.25);

  &:hover {
    background-color: transparentize(#FFF, 0.1);
  }
}

.app-label-error {
  color: mat-color($jrclive-voest-warn);
}

.app-invisible {
  visibility: hidden;
}
