@import "../../../theme/main";

.app-link-details {
  overflow: hidden;

  .mat-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mat-divider {
    position: relative;
    margin: $gap-normal (-$gap-normal);
    width: 120%;
  }

  .app-value-row {
    display: flex;
    justify-content: space-between;
    margin: $gap-small 0;

    > div,
    > span {
      @include app-text-ellipsis();

      &:not(:last-child) {
        margin-right: $gap-small;
      }
    }
  }

}
