<mat-card class="app-vis-overlay app-link-details">
  <mat-card-title>
    <span *ngIf="link">Link</span>
    <div>
      <button type="button" mat-icon-button (click)="hide.emit()">
        <mat-icon>clear</mat-icon>
      </button>
      <app-loading small="true" *ngIf="reloading"></app-loading>
    </div>
  </mat-card-title>
  <mat-card-content *ngIf="link">
    <ng-container *ngIf="link.sourceDetails">
      <mat-divider></mat-divider>
      <div class="mat-caption">From</div>
      <div>{{ link.sourceDetails.name }}</div>
      <div class="mat-caption">{{ industryCaption(link.sourceDetails) }}</div>
    </ng-container>
    <ng-container *ngIf="link.targetDetails">
      <mat-divider></mat-divider>
      <div class="mat-caption">To</div>
      <div>{{ link.targetDetails.name }}</div>
      <div class="mat-caption">{{ industryCaption(link.targetDetails) }}</div>
    </ng-container>
    <mat-divider></mat-divider>
    <div class="app-value-row" *ngIf="link.capex">
      <span>CAPEX</span>
      <span>{{ link.capex | customNumber:'1.2-2':'USD' }}</span>
    </div>
    <div class="app-value-row" *ngIf="link.shareCustomerCogs">
      <span>Shared Customer COGS</span>
      <span>{{ link.shareCustomerCogs | customNumber:'1.2-2':'USD' }}</span>
    </div>
    <div class="app-value-row" *ngIf="link.edgeBetweenness">
      <span>Edge Betwenness</span>
      <span>{{ link.edgeBetweenness | number:'1.4-4'}}</span>
    </div>
  </mat-card-content>
</mat-card>
