@import "../../../theme/main";

.app-threshold-form {
  display: flex;

  .app-slider-container {
    display: flex;
    align-items: center;

    .mat-form-field {
      flex: 1;
    }

    .mat-icon-button {
      margin-left: $gap-small;
    }
  }

  &.app-mode-between {
    flex-direction: column;
    align-items: stretch;

    .mat-form-field {
      width: 100%;
    }
  }

  &:not(.app-mode-between) {
    align-items: center;

    .app-threshold-mode {
      flex: 0;
    }

    .app-slider-container {
      flex: 1;
      margin-left: $gap-small;
    }
  }
}
