<form class="app-threshold-form"
      *ngIf="range && step >= 0"
      [class.app-mode-between]="formGroup.value.mode === 'Between'"
      [formGroup]="formGroup">
  <div class="app-threshold-mode">
    <mat-form-field>
      <mat-label>Mode</mat-label>
      <mat-select formControlName="mode">
        <mat-option *ngFor="let mode of modes" [value]="mode">
          {{ mode }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="app-slider-container" *ngIf="formGroup.value.mode === 'Min' || formGroup.value.mode === 'Between'">
    <mat-form-field>
      <mat-label>Min</mat-label>
      <input matInput formControlName="min" type="text" [min]="range.min" [max]="range.max" [step]="step">
      <mat-error>
        <ng-container *ngIf="formGroup.controls.min.hasError('appInteger')">
          {{ formGroup.controls.min.value }} is not an integer.
        </ng-container>
        <ng-container *ngIf="formGroup.controls.min.hasError('appNumeric')">
          {{ formGroup.controls.min.value }} is not a number.
        </ng-container>
        <ng-container *ngIf="formGroup.controls.min.hasError('min')">
          Minimum is {{ range.min }}
        </ng-container>
        <ng-container *ngIf="formGroup.controls.min.hasError('max')">
          Maximum is {{ formGroup.controls.max.value}}
        </ng-container>
      </mat-error>
    </mat-form-field>
    <button mat-icon-button (click)="decrease(formGroup.controls.min)"
            appLongPress (longPressing)="decrease(formGroup.controls.min)">
      <mat-icon>expand_more</mat-icon>
    </button>
    <button mat-icon-button (click)="increase(formGroup.controls.min)"
            appLongPress (longPressing)="increase(formGroup.controls.min)">
      <mat-icon>expand_less</mat-icon>
    </button>
  </div>

  <div class="app-slider-container" *ngIf="formGroup.value.mode === 'Max' || formGroup.value.mode === 'Between'">
    <mat-form-field>
      <mat-label>Max</mat-label>
      <input matInput formControlName="max" type="text" [min]="range.min" [max]="range.max" [step]="step">
      <mat-error>
        <ng-container *ngIf="formGroup.controls.max.hasError('appInteger')">
          {{ formGroup.controls.max.value }} is not an integer.
        </ng-container>
        <ng-container *ngIf="formGroup.controls.max.hasError('appNumeric')">
          {{ formGroup.controls.max.value }} is not a number.
        </ng-container>
        <ng-container *ngIf="formGroup.controls.max.hasError('min')">
          Minimum is {{ formGroup.controls.min.value }}
        </ng-container>
        <ng-container *ngIf="formGroup.controls.max.hasError('max')">
          Maximum is {{ range.max }}
        </ng-container>
      </mat-error>
    </mat-form-field>
    <button mat-icon-button (click)="decrease(formGroup.controls.max)"
            appLongPress (longPressing)="decrease(formGroup.controls.max)">
      <mat-icon>expand_more</mat-icon>
    </button>
    <button mat-icon-button (click)="increase(formGroup.controls.max)"
            appLongPress (longPressing)="increase(formGroup.controls.max)">
      <mat-icon>expand_less</mat-icon>
    </button>
  </div>
</form>

<div class="mat-caption app-label-error" *ngIf="formGroup.invalid">
  Please fix all errors.
</div>
